.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  padding: 30px;
  display: flex;
  flex-direction: column;

  max-width: 1300px;
}

.videoContainer {
  height: 0;
  padding-top: 61.8%;
  max-width: 100%;
  position: relative;
}

.video {
  padding: 0 20px;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}

.infoWrapper {
  padding: 12px 10px 24px 10px;
}

.descriptionContainer {
  background-color: rgb(40, 40, 40);
  border-radius: 10px;
  padding: 20px 15px;
  cursor: pointer;
}
.OepndescriptionContainer {
  background-color: rgb(40, 40, 40);
  border-radius: 10px;
  padding: 20px 15px;

  cursor: default;
}
.pre {
  white-space: pre-wrap;

  line-height: 1.2rem;
  width: 100%;
  height: 60px;
  overflow: hidden;

  padding-bottom: 10px;
}

.OpenPre {
  white-space: pre-wrap;
  line-height: 1.2rem;
  width: 100%;

  padding-bottom: 30px;
  height: 100%;
}

.button {
  font-size: 16px;
  font-weight: 500;
}

@media screen and (min-width: 1000px) {
  .content {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  .relatedVidoes {
    width: 400px;
  }
  .article {
    width: 100%;
  }
}
