.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.background {
  width: 100%;
  padding-top: 61.8%;

  position: absolute;
  top: 0;
  left: 0;

  background: linear-gradient(
    180deg,
    black,
    rgb(30, 30, 30) 1% 80%,

    black
  );
}
.content {
  padding: 20px 30px;

  display: flex;
  flex-direction: column;
}
.article {
  width: 100%;
}
.videoContainer {
  width: 100%;
  padding-top: 61.8%;

  position: relative;
}

.video {
  width: 100%;
  height: 100%;

  position: absolute;
  top: 0;
}

.infoWrapper {
  width: 100%;
  padding: 12px 10px 24px;
}

.descriptionContainer {
  width: 100%;
  border-radius: 10px;
  padding: 20px 15px;

  background-color: rgb(40, 40, 40);

  cursor: pointer;
}

.openDescriptionContainer {
  border-radius: 10px;
  padding: 20px 15px;

  background-color: rgb(40, 40, 40);

  cursor: default;
}

.description {
  width: 100%;
  height: 60px;
  padding-bottom: 10px;

  white-space: pre-wrap;
  line-height: 1.2rem;

  overflow: hidden;
}

.openDescription {
  width: 100%;
  height: 100%;
  padding-bottom: 20px;

  white-space: pre-wrap;
  line-height: 1.2rem;
}

.descriptionButton {
  padding-top: 10px;

  font-size: 16px;
  font-weight: 500;
}

@media screen and (min-width: 1000px) {
  .background {
    width: 80%;
    padding-top: 45%;

    position: absolute;
    top: 0;
    left: 0;

    background: radial-gradient(
      farthest-side at 40% 30%,
      rgb(90, 90, 90),
      rgb(120, 120, 120),
      black
    );
  }

  .content {
    width: 100%;

    display: flex;
    flex-direction: row;
  }
  .article {
    max-width: 1200px;
    padding-right: 30px;
  }
}

@media screen and (max-width: 499px) {
  .background {
    display: none;
  }
  .content {
    padding: 0;
  }
  .video {
    width: 100%;
  }
  .infoWrapper {
    padding: 0;
  }
  .descriptionContainer,
  .openDescriptionContainer {
    display: none;
  }
  .description,
  .openDescription {
    padding: 5px;
  }
  .descriptionButton {
    padding: 15px 5px 0;
  }
}

@media screen and (max-width: 320px) {
  .video {
    width: 320px;
  }
  .description,
  .openDescription {
    width: 320px;
  }
}
