.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(
    180deg,
    black,
    rgb(30, 30, 30) 1% 80%,

    black
  );
  padding-top: 61.8%;
  width: 100%;
}
.content {
  display: flex;
  flex-direction: column;
  padding: 20px 30px;
}
.article {
  width: 100%;
}
.videoContainer {
  height: 0;
  padding-top: 61.8%;
  width: 99%;
  position: relative;
}

.video {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}

.infoWrapper {
  padding: 12px 10px 24px 10px;
}

.descriptionContainer {
  background-color: rgb(40, 40, 40);
  border-radius: 10px;
  padding: 20px 15px;
  cursor: pointer;
}

.oepnDescriptionContainer {
  background-color: rgb(40, 40, 40);
  border-radius: 10px;
  padding: 20px 15px;

  cursor: default;
}

.pre {
  white-space: pre-wrap;

  line-height: 1.2rem;
  width: 100%;
  height: 60px;
  overflow: hidden;

  padding-bottom: 10px;
}

.OpenPre {
  white-space: pre-wrap;
  line-height: 1.2rem;
  width: 100%;

  padding-bottom: 30px;
  height: 100%;
}

.button {
  font-size: 16px;
  font-weight: 500;
}

@media screen and (min-width: 1000px) {
  .content {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  .relatedVidoes {
    width: 500px;
  }
  .article {
    padding-right: 30px;
    max-width: 1200px;
  }

  .background {
    position: absolute;
    top: 0;
    left: 0;
    background: radial-gradient(
      farthest-side at 40% 30%,
      rgb(90, 90, 90),
      rgb(120, 120, 120),
      black
    );

    padding-top: 45%;
    width: 80%;
  }
}

/* 제일 작은거 */
@media screen and (max-width: 500px) {
  .listVideo {
    width: 100%;
  }
}
