.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.background {
  width: 100%;
  padding-top: 61.8%;

  position: absolute;
  top: 0;
  left: 0;

  background: linear-gradient(
    180deg,
    black,
    rgb(30, 30, 30) 1% 80%,

    black
  );
}
.content {
  width: 100%;
  padding: 20px;

  display: flex;
  flex-direction: column;
}
.article {
  width: 100%;
}
.videoContainer {
  width: 100%;
  padding-top: 61.8%;

  position: relative;
}

.video {
  width: 100%;
  height: 100%;

  position: absolute;
  top: 0;
}

.infoWrapper {
  width: 100%;
  padding: 12px 10px 24px;
}

.descriptionContainer {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  padding: 20px 15px;

  font-size: 16px;
  font-weight: 500;
  background-color: rgb(40, 40, 40);
}

.date {
  margin-right: 5px;

  color: rgb(225, 225, 225);
}

.description {
  word-break: break-word;
  white-space: pre-wrap;
  margin: 20px 0;
}

@media screen and (min-width: 1000px) {
  .background {
    width: 80%;
    padding-top: 45%;

    position: absolute;
    top: 0;
    left: 0;

    background: radial-gradient(
      farthest-side at 30% 30%,
      rgb(90, 90, 90),
      black
    );
  }

  .content {
    width: 100%;

    display: flex;
    flex-direction: row;
  }
  .article {
    max-width: 1200px;
    padding-right: 30px;
  }
}
.hidden {
  display: none;
}

@media screen and (max-width: 499px) {
  .background {
    display: none;
  }
  .content {
    padding: 0;
  }
  .video {
    width: 100%;
  }
  .infoWrapper {
    padding: 10px 0 0;
    border-bottom: 1px dashed #fff;
  }
  .descriptionContainer {
    background-color: black;
    padding-top: 10px;
  }
  .videoContainer {
    position: fixed;
    z-index: 99;
  }
  .forFixed {
    width: 100%;
    padding-top: 61.8%;

    position: relative;
  }
}

@media screen and (max-width: 320px) {
  .infoWrapper {
    padding: 0;
  }

  .openDescription {
    width: 320px;
  }
}
