.detailTitle {
  font-size: 1.8rem;
  line-height: 2rem;
  font-weight: 600;
  word-break: break-all;
  padding-bottom: 10px;
}

.listContainer {
  display: flex;
  padding: 10px 0 20px 0;
}

.relatedCotainer {
  display: flex;
  /* width: 200px; */
}

.imgContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 13px;
  height: 40%;
}

.channelImg {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.info {
  width: 100%;
  color: gray;
}

.detailInfo {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.listTitle {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  font-weight: 500;
  color: white;
  padding-bottom: 5px;

  font-size: 1.4rem;
  line-height: 1.8rem;
  padding-right: 20px;
}

.relatedTitle {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  font-size: 18px;
  color: white;
  margin-bottom: 7px;
  font-weight: 500;
  line-height: 1.5rem;
}

.name {
  line-height: 1.2em;
  font-size: 1rem;
  font-weight: 500;
}

.date {
  line-height: 1.5em;
  font-size: 0.8rem;
  font-weight: 500;
  color: gray;
}
