.listVideo {
  width: 370px;
  height: 350px;
  list-style-type: none;
  cursor: pointer;
}

.listVideo:hover {
  transform: scale(1.1);
  transition-duration: 0.5s;
  transition-delay: 1s;
}

.listThumbnail {
  width: 100%;
  height: 60%;
  border-radius: 5px;
}

.relatedVideo {
  display: flex;
  padding: 10px 0;

  cursor: pointer;
}

.relatedThumbnail {
  width: 180px;
  border-radius: 5px;
  margin-right: 8px;
}
