.listVideo {
  width: 350px;
  height: 350px;
  list-style-type: none;
  cursor: pointer;
  margin: 0 5px;
}

.listVideo:hover {
  transform: scale(1.1);
  transition-duration: 0.5s;
  transition-delay: 1s;
}

.listThumbnail {
  width: 100%;
  height: 60%;
  border-radius: 5px;
}

.relatedVideo {
  display: flex;
  padding: 10px 0;

  cursor: pointer;
}

.relatedThumbnail {
  min-width: 170px;
  max-height: 100px;
  width: 170px;
  border-radius: 5px;
  margin-right: 8px;
}

@media screen and (max-width: 320px) {
  .listVideo {
    width: 320px;
  }
}

@media screen and (max-width: 400px) {
  .listVideo {
    width: 100%;
  }
  .listThumbnail {
    width: 100%;
    height: 60%;
    border-radius: 0;
  }
}

@media (min-width: 1000px) and (max-width: 1500px) {
  .listVideo {
    width: 320px;
  }
}
