.header {
  display: flex;
  height: 4rem;
  padding: 0.8em 1em;
  color: white;

  border: 1px solid red;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  margin-right: 1em;
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}
.title {
  padding-left: 10px;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.input {
  height: 100%;
  border: 1px solid gray;
  padding-left: 20px;
  border-radius: 50px 0 0 50px;

  font-size: 1.2rem;
  color: inherit;
  background-color: inherit;

  width: 70%;
}

.input:focus {
  border-color: aqua;
}

.button {
  display: flex;
  align-items: center;

  height: 100%;
  padding: 0 30px 0 20px;
  border: 1px solid gray;
  border-left: none;
  border-radius: 0 50px 50px 0;

  font-size: 20px;
  color: inherit;
  background-color: darkgray;

  outline: 0;
  cursor: pointer;
}
