.container {
  height: 60px;
  width: 100%;

  display: flex;
  align-items: center;

  position: fixed;
  top: 0;
  left: 0;
  background: var(--background);

  z-index: 999;
}
.homeContainer {
  height: 60px;
  width: 100%;

  display: flex;
  align-items: center;

  position: fixed;
  top: 0;
  left: 0;
  background: var(--background);

  z-index: 1;
}

.innerBox {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0px 20px;
}

.logo {
  display: flex;
  align-items: center;

  color: var(--text-color-primary);
  text-decoration: none;

  cursor: pointer;
}
.title {
  padding-left: 2px;
  font-size: 1.3rem;
  font-weight: 600;
  letter-spacing: -1px;
}

@media screen and (max-width: 499px) {
  .container {
    height: 50px;
  }
  .homeContainer {
    height: 50px;
    position: static;
  }
  .innerBox {
    padding: 0px 10px;
  }
}
