.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.list {
  width: 350px;
  height: 350px;
  margin: 0 15px;

  display: flex;
  flex-direction: column;

  list-style-type: none;
}
.img {
  height: 65%;
  margin-bottom: 10px;
}

.info {
  height: 25%;
}

.img,
.info {
  width: 100%;
  border-radius: 5px;

  background-color: rgb(40, 40, 40);
}

.relatedContainer {
  padding-left: 5px;

  display: flex;
  flex-direction: column;
}

.relatedList {
  padding: 10px 0;

  display: flex;
}

.relatedImg {
  min-width: 170px;
  margin-right: 8px;
}

.relatedInfo {
  width: 100%;
}

.relatedImg,
.relatedInfo {
  border-radius: 5px;
  height: 100px;

  background-color: rgb(40, 40, 40);
}

@media (min-width: 1000px) and (max-width: 1500px) {
  .list {
    width: 320px;
  }
}

@media screen and (max-width: 499px) {
  .list {
    width: 100%;
  }
  .relatedImg {
    min-width: 100%;
    height: 250px;
    margin: 0;
  }
  .relatedInfo {
    display: none;
  }
  .relatedContainer {
    padding: 0;
  }
  .relatedList {
    width: 100%;
    display: block;
  }
}

@media screen and (max-width: 320px) {
  .list {
    width: 320px;
  }
}
