.login {
  border: 1px solid gray;
  font-size: 18px;
  font-weight: 500;
  display: flex;
  align-items: center;
  color: #3ea6ff;
  min-width: 130px;
  justify-content: space-around;
  padding: 10px;
  border-radius: 50px;
}

.login:hover {
  background-color: rgba(161, 184, 255, 0.3);
}

.login:active {
  background-color: rgba(142, 169, 250, 0.5);
}

.temp {
  display: none;
}
