.content {
  position: relative;
  top: 70px;
}
.homeContent {
  position: relative;
  top: 70px;
}
@media screen and (max-width: 499px) {
  .content {
    top: 50px;
  }
  .homeContent {
    position: static;
    top: 50px;
  }
}
