.content {
  position: relative;
  top: 70px;
}
.homeContent {
  position: relative;
  top: 70px;
}
@media screen and (max-width: 499px) {
  .content {
    top: 50px;
  }
  .homeContent {
    position: static;
    top: 50px;
  }
}

.test {
  width: 100px;
  height: 100px;
  background: var(--background);

  border: 1px solid red;
}

.app {
  background: var(--background);
  color: var(--text-color-primary);
}
