.openSidebar {
  width: 280px;
  background-color: rgb(30, 30, 30);
  border-radius: 10px;
  position: absolute;
  top: 60px;
  right: -30px;
  z-index: 99;
  display: table;
}
.sidebarCloseButton {
  font-size: 60px;
  width: 50px;
  height: 50px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.userInfo {
  display: flex;
  padding: 15px;

  border-bottom: 1px solid rgb(100, 100, 100);
}
.insideProfileImg {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin-right: 10px;
}
.userName {
  font-size: 30px;
  font-weight: 500;
  align-self: center;
}
.signout {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  font-size: 20px;
  width: 100%;
  margin: 10px 0;
}
.signout:hover {
  background-color: rgb(100, 100, 100);
}

@media screen and (max-width: 499px) {
  .openSidebar {
    width: 100%;
    height: 100%;
    border-radius: 0px;

    position: fixed;
    top: 0;
    left: 0;
  }
}
